In [78]:
import pandas as pd
import openpyxl
import numpy as np
import math

In [94]:

# Sample DataFrame

df = pd.read_csv('/home/igor/Desafio-VLGI/Desafio-VLGI/data/fake_position.csv')
df = df['account_code']

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [93]:
df

In [ ]:

al = pd.read_excel('/home/igor/Desafio-VLGI/Desafio-VLGI/data/fake_allocation_policies.xlsx')

In [ ]:
al

,classe,conservador,moderado-conservador,moderado,moderado-agressivo,agressivo
0,Renda Fixa Pós-Fixada,0.70,0.46,0.30,0.15,0.05
1,Renda Fixa Inflação,0.12,0.16,0.24,0.20,0.19
2,Renda Fixa Pré-Fixada,0.05,0.08,0.10,0.11,0.10
3,Renda Variável,0.02,0.04,0.07,0.14,0.20
4,Multimercado,0.09,0.21,0.22,0.30,0.31
5,Alternativos,0.00,0.00,0.00,0.00,0.00
6,Internacional,0.02,0.05,0.07,0.10,0.15
7,Saldo em Conta,0.00,0.00,0.00,0.00,0.00

In [ ]:
#Limpeza dos dados
#Elimina colunas onde o account_suitability é inexistente
df.dropna(subset = 'account_suitability', inplace = True)
#Elimina colunas onde a classe do investimento é inexistente
df.dropna(subset = 'class_name', inplace = True)
#Substitui os valores ausentes de asset_cnpj por 0
df['asset_cnpj'].fillna(value = 0, inplace = True)

# Realiza uma filtragem somando cada classe de investimento por conta e reordena os index e renomeia a coluna position_value para Soma. E filtra para aparecer somente as colunas account_code, account_suitability, class_name e soma.
df = df[df['account_code'] == 2429]
df = df.groupby(['account_code', 'account_suitability','class_name'])['position_value'].sum().reset_index().sort_values(['account_code', 'class_name']).rename(columns={'position_value' : 'Soma'})

In [ ]:
df

   account_code account_suitability             class_name          Soma
0          2429            moderado    Renda Fixa Inflação  1.343101e+08
1          2429            moderado  Renda Fixa Pré-Fixada  2.968725e+05
2          2429            moderado  Renda Fixa Pós-Fixada  6.425970e+03
3          2429            moderado    Reserva de Liquidez  1.306173e+04
4          2429            moderado         Saldo em Conta  0.000000e+00

In [ ]:
#Lista com os clientes
clients = df['account_code'].unique()
clients

array([2429])

In [ ]:
#  Realiza a soma dos valores investidos de um cliente e armazena em uma variável: total
total = (df[df['account_code'] == clients[0]])['Soma'].sum()
print(total)

134626482.6309

In [ ]:
client0 = df[df['account_code'] == clients[0]]
df['Soma'] = client0['Soma'].div(total)

In [ ]:
# Filtrando respectivo cliente em um dataframe separado
teste = df[df['account_code'] == clients[0]]
teste

   account_code account_suitability             class_name      Soma
0          2429            moderado    Renda Fixa Inflação  0.997650
1          2429            moderado  Renda Fixa Pré-Fixada  0.002205
2          2429            moderado  Renda Fixa Pós-Fixada  0.000048
3          2429            moderado    Reserva de Liquidez  0.000097
4          2429            moderado         Saldo em Conta  0.000000

In [ ]:
perfil = teste['account_suitability'].iloc[0] # perfil do cliente a partir da tabela de alocações
class_allocation = pd.Series(al.classe.values, index=al[perfil].values).to_dict() # dicionário com as alocações do respectivo cliente
class_allocation = {v: k for k, v in class_allocation.items()} # inverte as chaves e os valores do dicionário
print(class_allocation)

{'Renda Fixa Pós-Fixada': 0.3, 'Renda Fixa Inflação': 0.24, 'Renda Fixa Pré-Fixada': 0.1, 'Internacional': 0.07, 'Multimercado': 0.22, 'Saldo em Conta': 0.0}

In [ ]:
#Dicionario do percentual de tipo de investimento do cliente respectivo
client = dict(zip(teste['class_name'], teste['Soma']))
print(client)

{'Renda Fixa Inflação': 0.9976500890945258, 'Renda Fixa Pré-Fixada': 0.00220515706789966, 'Renda Fixa Pós-Fixada': 4.773184201519862e-05, 'Reserva de Liquidez': 9.702199555945332e-05, 'Saldo em Conta': 0.0}

In [ ]:
#Calculo da aderência do cliente ao perfil de investimento
distance = 0
for asset_class, allocation_percentage in class_allocation.items():
    client_allocation = client.get(asset_class, 0)
    distance += (allocation_percentage - client_allocation) ** 2

euclidean_distance = math.sqrt(distance)

aderencia = dict()

aderencia.update({f"{teste['account_code'].iloc[0]}" : f"{euclidean_distance}"})
print(aderencia)

{'2429': '0.8525660396603754'}